
<%= simple_form_for @shot, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="col-is-centered">
    <div class="col-is-half">

      <% unless @shot.user.blank? %>
      <%= image_tag (@shot.user_shot_url), id: "previewImage" %>
      <% end %>

      <output id="list"></output>
      <div id="drop-zone">Drag your shot here!</div>
      <br />

      <%= f.input :user_shot,
                  label: false,
                  input_html: { class: "file-input", type: "file" },
                  wrapper: false,
                  label_html: { class: "file-label" }
      %>

      <div class="field">
        <div class="control">
          <%= f.input :title,
                      input_html: { class: "input" },
                      wrapper: false,
                      label_html: { class: "label"}
          %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :description,
                      input_html: { class: "textarea" },
                      wrapper: false,
                      label_html: { class: "label"}
          %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.button :submit, class: "submit-shot-btn" %>
        </div>
      </div>

    </div>
  </div>
<% end %>
