
<% if !user_signed_in? %>
  <%= render 'layouts/intro_part' %>

  <div class="index-separator-div">

  </div>

  <h1 class="explore-designs-title">Explore inspiring designs</h1>
<% end %>

<% @shots.each do |shot| %>
  <p>Title : <%= shot.title %></p>
  <p>Description : <%= shot.description %></p>
  <p>Designer : @<%= shot.user.name %></p>
  <div>
    <%= link_to 'Show', shot %>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_shot_path(shot) %>
      <%= link_to 'Destroy', shot, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Shot', new_shot_path %>
