<!DOCTYPE html>
<html>
  <head>
    <title>DribbbleClone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# if !(current_page?(new_user_registration_path) or current_page?( new_user_session_path)) %>
    <%#= render 'layouts/navbar' %>
  <%# end %>

  <%= render 'layouts/navbar' %>

  <center>
    <% if flash[:notice] %>
      <div class="notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
  </center>

  <section class="body-content-section">
    <center>
      <%= yield %>
    </center>
  </section>

  </body>
</html>
